body {
    background: #ffffff;
    overflow-x: hidden;
  }
.base {
  overflow: hidden;
  border-radius: 2vw;
  position: absolute;
  margin-left: 2%;
  margin-top: 2%;
  width: 95%;
  height: 95%;
  background: #e8f7f7;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.main {
  border-radius: 2vw;
  overflow: hidden;
  position: relative;
  margin-left: 2%;
  margin-top: 2%;
  width: 95%;
  height: 95%;
}
/* Meteor */
.MeteorBase {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 49.5%;
  height: 98%;
  border-radius: 2vw;
  background: #ab4ce2b4;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.Meteor {
  position: relative;
  width: 100%;
  height: 100%;
}
.icon {
  user-select: none;
  line-height: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.icon img {
  position: relative;
  width: 15vw;
}
.icon:hover {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.466));
  cursor: pointer;
  transform: translate(-50%, -50%) translateY(-5px);
}
/* 自定义 */
.Meteor-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Wurst-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Wurst */
.WurstBase {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 49.5%;
  height: 98%;
  border-radius: 2vw;
  background: #c05f00;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.Wurst {
  position: relative;
  width: 100%;
  height: 100%;
}
/* End */
/* 按钮 */
.Button {
  user-select: none;
  position: relative;
  transform-origin: center;
  width: 7vw;
  height: 3vw;
  border-radius: 3vw;
  background: #e0e0e017;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out,
    background 0.3s ease-in-out;
  backdrop-filter: blur(3px);
}
.Button:hover {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.466);
  transform: translate(-50%, -50%) translateY(-5px);
  background: #f5f5f5;
  cursor: pointer;
}
.Button .title {
  font-size: 0.7vw;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Button .title h1 {
  font-weight: 600;
}
/* 自定义 */
.Refresh {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MeteorBack {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.WurstBack {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.AutoUpdate {
  position: absolute;
  width: auto;
  height: auto;
  right: 0;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.AutoUpdate h1 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.5vw;
}
/* 版本列表 */
.VerList {
  list-style-type: none;
  position: absolute;
  font-size: 1vw;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.VerList a {
  color: #00000084;
  font-weight: 500;
}
/* 滚动条轨道 */
.VerList::-webkit-scrollbar {
  width: 0.7vw; /* 滚动条的宽度 */
}

/* 滚动条滑块 */
.VerList::-webkit-scrollbar-thumb {
  /* background-color: #a65eda; */
  border-radius: 5px; /* 滑块的圆角 */
}
/* 自定义 */
.MeteorVerList {
  position: absolute;
  width: 50%;
  left: -100%;
  bottom: 0;
}
.MeteorVerList::-webkit-scrollbar {
  background-color: #a670cd00;
}
.MeteorVerList::-webkit-scrollbar-thumb {
  background-color: #a65eda;
  border-radius: 5px; /* 滑块的圆角 */
}
.I18nPluginVerList {
  position: absolute;
  width: 50%;
  left: -100%;
  bottom: 0;
}
.I18nPluginVerList::-webkit-scrollbar {
  background-color: #a670cd00;
}
.I18nPluginVerList::-webkit-scrollbar-thumb {
  background-color: #a65eda;
  border-radius: 5px; /* 滑块的圆角 */
}
.WurstVerList {
  position: absolute;
  right: -100%;
  bottom: 0;
}
.WurstVerList::-webkit-scrollbar {
  background-color: #a670cd00;
}
.WurstVerList::-webkit-scrollbar-thumb {
  background-color: #ff91006e;
  border-radius: 5px; /* 滑块的圆角 */
}
.infoList {
  align-items: center;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: left;
}
.infoList img {
  cursor: pointer;
  width: 2vw;
  opacity: 0.2;
}
/* 弹窗消息 */
.Message {
  max-width: 30%;
  margin: 50px;
  bottom: 0;
  right: -100%;
  backdrop-filter: blur(5px);
  font-size: 1vw;
  border-radius: 2vw;
  z-index: 101;
  position: absolute;
  background: #f8e9e071;
  transition: transform 0.1s ease;
}
.Message p {
  margin: 30px;
}
.Message:hover {
  cursor: pointer;
}
.Message:active {
  transform: scale(0.8, 1.5);
}
/* info */
.info {
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 1vw;
  border-radius: 2vw;
}
.detail {
  background: #7676762c;
  padding: 10px;
  border-radius: 0.5vw;
  border: 5px solid #0000001e;
}
